.button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  margin: 0.25rem;
  border: 1px solid var(--text-color);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.button.primary {
  background: var(--text-color);
  color: var(--bg-color);
}

.button.secondary {
  background: var(--bg-color);
  color: var(--text-color);
}
