.diceRoller {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.button {
  width: auto;
  padding: 0.5rem 3rem;
}

.rolls {
  font-size: 3.5rem;
  line-height: 1;
  margin: -0.5rem 0 0;
}
