*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul,
ol {
  text-align: left;
}

li {
  margin: 0 0 1rem;
}

label {
  font-size: 0.875rem;
}

input {
  padding: 0.375rem;
  background: var(--bg-color);
  color: var(--text-color);
  border: 0.063rem solid var(--text-color);
  font-size: 1rem;
}

a {
  color: var(--accent-color);
}
