.scoreboard {
  position: relative;
  border: 0.063rem solid var(--border-color);
}

.title {
  font-size: 0.875rem;
  text-transform: uppercase;
  position: absolute;
  top: -1.4375rem;
  left: 0.5rem;
  background: var(--bg-color);
  padding: 0 0.25rem;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem 0.5rem;
  text-align: left;
}

.info p {
  margin: 0 0 0.5rem;
}

.isTurn > span {
  font-weight: bold;
}

@media screen and (min-width: 320px) {
  .info {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
