.scoreboard {
  position: relative;
  border: 1px solid;
}

.title {
  font-size: 0.875rem;
  text-transform: uppercase;
  position: absolute;
  top: -1.4375rem;
  left: 0.5rem;
  background: var(--bg-color);
  padding: 0 0.25rem;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.isTurn > span {
  font-weight: bold;
}
